.ios, .md {
 
    page-home {
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
 
    }
 
}

@-webkit-keyframes animateInOpacity{
 
  0% {
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}

.animateInOpacity {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}